[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/gherkin-cpp"]
	path = libs/gherkin-cpp
	url = https://github.com/cpp-testing/gherkin-cpp.git
