[submodule "libs/googletest"]
	path = libs/googletest
	url = ../../google/googletest
[submodule "libs/json"]
	path = libs/json
	url = ../../nlohmann/json
[submodule "libs/gherkin-cpp"]
	path = libs/gherkin-cpp
	url = ../../c-libs/gherkin-cpp
